name: Linter

on: pull_request

jobs:
  pint:
    name: pint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Pint
        uses: aglipanci/laravel-pint-action@latest
        with:
          testMode: true
          pintVersion: 1.25.1
